@import url("https://fonts.googleapis.com/css2?family=Angkor&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
  background-image: url('./assets/cool-background.svg');
  background-size: cover; /* Adjust background size as needed */
  background-repeat: no-repeat; /* Prevent background from repeating */
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Adjust background for smaller screens */
@media (max-width: 768px) {
  body {
    background-size: contain; /* Adjust background size for smaller screens */
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-text {
  font-family: "Angkor", serif;
  font-weight: 400;
  font-style: normal;
}
.p {
  padding: 0.5rem !important;
}